$light: #f7f7f7f7;
$blue: #0053F0;
$black: #0D0D0D;
$gradientbluepurple : linear-gradient(to right, rgba(0, 83, 240, 1) 0%, #be03ff 100%);
$purple :#4632B8;
$green: #4CE599;
$dark: #222121;
$lime: #00cc66;
$orangeRed: #fb4b4e;
$gray :#b4b4b4;
$white: #ffff;
$lightbox:#8aaff369;