<div class="container my-2 ">
    <div class="row  auto ">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  col-sm-offset-0 my-4 ">
            <form id="" action="" class="input-group ">
                <div class="inputs col-md-12 col-sm-12 col-lg-12">
                    <!---------wilaya- ville--->
                    <div class="row justify-content-center ">
                        <!-------wilaya-->

                        <input type="text" name="options" class="input-def col-md-4" list="options" placeholder="Wilaya" />
                        <datalist id="options">
                                <option value="El-oued">El-oued</option>
                                <option value="Adrer">Adrer</option>
                                <option value="Chlef">Chlef</option>
                                <option value="Laghout">Laghout</option>
                                </datalist>


                        <!----------wilaya-->
                        <!------commune----->

                        <input type="text" name="options" class="input-def  col-md-4" list="communes" placeholder="Commune" />
                        <datalist id="communes">
                            <option value="El-oued">El-oued</option>
                            <option value="Robbah">Robbah</option>
                            <option value="oued elalenda">oued elalenda</option>
                            <option value="bayadha">bayadha</option>
                            </datalist>

                        <!--------commune-->
                    </div>

                    <!--------wilaya-ville-->
                    <div class="row mx-1">
                        <input type="text" class="col-md-3  input-def" style="font-size: x-small;" placeholder="N°domicile" required>
                        <input type="text" class="col-md-4 input-def" style="font-size: x-small;" placeholder="La rue" required>
                        <input type="text" class="col-md-4 input-def" style="font-size: x-small;" placeholder="avenue" required>
                    </div>

                    <input type="text" class="input-field" name="Telephone" placeholder=" Telephone " required>
                    <input type="email" class="input-field" name="Email" placeholder="Email" required>
                    <input type="text" class="input-field" name="phoneN" placeholder="Phone number" required>
                    <input type="text" class="input-field" name="gps" placeholder="Link GPS" required>
                </div>

                <!----button-->
                <div class="buttons">
                    <button class="btn">Payer</button>


                    <!----button-->

                </div>
            </form>
        </div>

    </div>