<div class="container my-2 ">
    <div class="row justify-content-between">
        <a class="btn icon backbtn "><i class="fas fa-chevron-circle-left fa-lg"></i></a>
        <div class="div">
            <a class="btn icon" routerLink="/domicile"><i class="fas fa-shipping-fast fa-lg"></i></a>
            <a class="btn icon " routerLink="/Livraison"><i class="fas fa-map-marked-alt fa-lg"></i></a>
            <a class="btn icon" routerLink="/LivraisonVendeur"><i class="fas fa-store fa-lg"></i></a>
        </div>
        <a class="btn icon nextbtn"><i class="fas fa-chevron-circle-right fa-lg"></i></a>
    </div>
    <div class="row  auto justify-content-center ">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  col-sm-offset-0 m-lg-2 m-md-2 cart ">

            <form id=" " action=" " class="input-group ">
                <div class="inputs col-md-12 col-sm-12 col-lg-12 ">
                    <!---------wilaya- ville--->
                    <div class="row justify-content-center ">
                        <!-------wilaya-->

                        <input type="text " name="options " class="input-def col-md-4 " list="options " placeholder="Wilaya " />
                        <datalist id="options ">
                                <option value="El-oued ">El-oued</option>
                                <option value="Adrer ">Adrer</option>
                                <option value="Chlef ">Chlef</option>
                                <option value="Laghout ">Laghout</option>
                                </datalist>


                        <!----------wilaya-->


                        <!------commune----->

                        <input type="text " name="options " class="input-def col-md-4 " list="communes " placeholder="Commune " />
                        <datalist id="communes ">
                            <option value="El-oued ">El-oued</option>
                            <option value="Robbah ">Robbah</option>
                            <option value="oued elalenda ">oued elalenda</option>
                            <option value="bayadha ">bayadha</option>
                            </datalist>

                        <!--------commune-->
                        <p class="col-md-4 mt-sm-2 mb-0 row justify-content-center"><small class="mr-1 mt-1">Code postal :</small>3900</p>
                    </div>

                    <!--------wilaya-ville-->
                    <div class="row mx-1 ">
                        <input type="text " class="col-md-3 input-def " style="font-size: x-small; " placeholder="N°domicile " required>
                        <input type="text " class="col-md-4 input-def " style="font-size: x-small; " placeholder="La rue " required>
                        <input type="text " class="col-md-4 input-def " style="font-size: x-small; " placeholder="avenue " required>
                    </div>

                    <input type="text " class="input-field " name="Telephone " placeholder=" Telephone " required>
                    <input type="email " class="input-field " name="Email " placeholder="Email " required>
                    <input type="text " class="input-field " name="phoneN " placeholder="Phone number " required>
                    <input type="text " class="input-field " name="gps " placeholder="Link GPS " required>
                </div>

                <!----button-->
                <div class="buttons my-2 ">
                    <button class="btn my-2 btnS ">Payer</button>


                    <!----button-->

                </div>
            </form>
        </div>




    </div>
    <div class="row justify-content-center">
        <div class="d-flex flex-column m-0  ">
            <div class=" mt-2 d-flex row">
                <i class="fas fa-stopwatch fa-lg mr-1 darken"></i>
                <p class="mx-1">Délai de la livraison approximatif</p>
                <b class="darken">10 jours</b>
            </div>

            <!------------------- les frais de transport ---------------------->
            <div class="  d-flex row justify-content-center">
                <i class="fas fa-money-check-alt mr-1 darken"></i>

                <p class="mx-1">les frais de transport</p>
                <b class="mx-2 darken"> 20.00dz</b>
            </div>

        </div>



    </div>